%h1= @recipe.name
%p= @recipe.description
%hr
%h3 Ingredients
%ul
  - @recipe.ingredients.each do |ingredient|
    %li= ingredient.name

%br
= link_to 'Back', recipes_path, class: 'btn btn-default'
= link_to 'Edit', edit_recipe_path, class: 'btn btn-default'
= link_to 'Delete', recipe_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'